/* Fonts */

@font-face {
    font-family: 'TimesNewRomanPSMT';
    src: url("../fonts/TimesNewRomanPSMT.eot?#iefix") format('embedded-opentype'), url('../fonts/TimesNewRomanPSMT.otf') format('opentype'),
    url('../fonts/TimesNewRomanPSMT.woff') format('woff'), url('../fonts/TimesNewRomanPSMT.ttf') format('truetype'), url('../fonts/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Variables */

:root {
    --global-font-size: 14px;
    --global-line-height: normal;
    --global-font-family: 'Roboto', sans-serif;
    --global-font-family-secondary: 'Open Sans', sans-serif;

    --global-grey-background: #f7f7f7;

    /*--global-medium-font-size:*/
    --global-small-font-size: 12px;

    --brand-color: #f14a58;
    --font-color: #000000;
    --white-color: #ffffff;
    --grey-color: #a8a8a8;

    --border-color: #e5e5e5;

    /*Used in margin, section, list*/
    --global-margin: 18px;
    --global-small-margin: 10px;
    --global-medium-margin: 36px;
    --global-large-margin: 64px;
    --global-xlarge-margin: 140px;

    /*Used in grid, column, container, align, card, padding*/
    --global-gutter: 20px;
    --global-xsmall-gutter: 16px;
    --global-small-gutter: 20px;
    --global-medium-gutter: 40px;
    --global-large-gutter: 72px;

}

/*  Common  */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: var(--global-font-family);
}

::selection {
    background: var(--brand-color);
    text-shadow: none;
}

body {
    min-width: 300px;
    padding-top: 70px;
    font-size: var(--global-small-font-size);
    line-height: var(--global-line-height);
    font-family: var(--global-font-family);
    color: var(--font-color);
    background-color: var(--white-color);
    letter-spacing: 0.4px;
}

body.padding {
    padding-top: 125px;
}

@media ( min-width: 768px ) {
    body {
        padding-top: 120px;
        font-size: 14px;
    }

    body.padding {
        padding-top: 186px;
    }
}

@media ( min-width: 1024px ) {
    body.padding {
        padding-top: 184px;
    }
}

img {
    display: block;
    width: auto;
    max-width: 100%;
}

ul,
h1, h2, h3, h4, h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,
textarea,
button {
    border: none;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.container {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    padding-left: var(--global-gutter);
    padding-right: var(--global-gutter);
}

.button {
    display: inline-block;
    padding: 20px 60px;
    font-family: var(--global-font-family-secondary);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--font-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition: 0.16s;
}

.button:hover {
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.button.disabled {
    opacity: 0.6;
    cursor: initial;

}

.button.disabled:hover {
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


@media ( min-width: 768px ) {
    .button {
        padding: 22px 92px;
        font-size: 20px;
    }

    .button--small {
        padding: 22px 70px;
    }
}

@media ( min-width: 1024px ) {
    .button {
        padding: 22px 102px;
        font-size: 24px;
    }
}

.button--secondary {
    min-width: 80px;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid transparent;
}

.button--secondary:hover {
    border: 1px solid var(--border-color);
}

.button--secondary.checked {
    border: 1px solid var(--border-color);
}


.arrivals-section__button {
    margin-top: 16px;
    text-align: center;
}

h2 {
    font-family: var(--global-font-family-secondary);
    font-weight: bold;
    font-size: 26px;
    line-height: 2.5;
    letter-spacing: 0.8px;
}

h3 {
    font-family: var(--global-font-family-secondary);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;;
}

h4 {
    font-family: var(--global-font-family-secondary);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

@media ( min-width: 768px ) {
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }
}

@media ( min-width: 1024px) {
    h2 {
        font-size: 50px;
    }
}

hr {
    margin: 0;
    border: none;
    background-color: var(--border-color);
    height: 1px;
    color: var(--border-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

/*  Header  */

.page-header {
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 100;
    border-bottom: 1px solid var(--border-color);
}

@media ( min-width: 768px ) {
    .page-header {
        height: auto;
    }
}

.page-header__top {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

@media ( min-width: 768px ) {
    .page-header__top {
        padding: 26px 40px 12px 40px;
    }
}

@media ( min-width: 1024px ) {
    .page-header__top {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding: 20px 60px;
    }
}

.logo {
    width: 30px;
    height: var(--global-gutter);
    margin-left: 20px;
}

@media ( min-width: 768px ) {
    .logo {
        width: 124px;
        margin-left: 0;
    }
}

.logo a {
    display: inline-block;
}

.page-header__bottom {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow-y: auto;
    transition: opacity .3s;
    z-index: 100;
}

@media ( min-width: 768px ) {
    .page-header__bottom {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        opacity: 1;
        visibility: visible;
        padding: 0 40px 12px 40px;
    }
}

@media ( min-width: 1024px ) {
    .page-header__bottom {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 60px 14px 60px;
    }
}

.show-main-nav .page-header__bottom {
    opacity: 1;
    visibility: visible;
}

.page-header__wrapper {
    display: flex;
    height: 100%;
}

.login {
    display: none;
}

@media ( min-width: 768px ) {
    .login {
        display: block;
        margin-right: 36px;
        padding: 10px 20px;
        font-size: 12px;
    }
}

.shopping-bag-link {
    display: inline-flex;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

.shopping-bag {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 25px;
}

@media ( min-width: 768px ) {
    .shopping-bag {
        padding-right: 0;
        font-size: 12px;
    }
}

.shopping-bag::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/general/bag.png');
}

.hamburger {
    padding: var(--global-gutter);
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-color);
}

@media ( min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.hamburger .icon {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 2px;
    background-color: var(--font-color);
    transition: background .3s .3s;
}

.hamburger .icon::before,
.hamburger .icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--font-color);
    transform-origin: 50% 50%;
    transition: top .3s, transform .3s .3s, -webkit-transform .3s .3s;
}

.hamburger .icon::before {
    top: 5px;
}

.hamburger .icon::after {
    top: -5px;
}


.show-main-nav .hamburger .icon {
    background: 0 0;
}

.show-main-nav .hamburger .icon::before,
.show-main-nav .hamburger .icon::after {
    top: 0;
    background: var(--brand-color);
    transition: top .3s, transform .3s .3s, -webkit-transform .3s .3s;
}

.show-main-nav .hamburger .icon::before {
    transform: rotate3d(0, 0, 1, 45deg);
}

.show-main-nav .hamburger .icon::after {
    transform: rotate3d(0, 0, 1, -45deg);
}


.main-nav {
    padding-top: 10px;
    margin-bottom: 50px;
    transition: flex-basis 500ms ease-in-out;
}

.main-nav__item {
    margin-left: 20px;
}

.main-nav__link {
    display: inline-block;
    font-family: var(--global-font-family-secondary);
    font-size: 24px;
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: 0.7px;
    color: var(--font-color);
    text-decoration: none;
}

.main-nav__link:hover {
    color: var(--brand-color);
}

.main-nav__link.active {
    color: var(--brand-color);
}

@media ( min-width: 768px) {
    .main-nav {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .main-nav__item {
        margin-left: 0;
        margin-right: 20px;
    }

    .main-nav__link {
        font-size: 12px;
    }

    .search__input {
        width: 0;
    }

    .page-catalog .main-nav {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        flex-wrap: nowrap;
    }
}

@media ( min-width: 1024px) {
    .page-catalog .main-nav {
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: visible;
    }

    .main-nav {
        flex-grow: 1;
        justify-content: space-between;
        margin-right: 8vw;
    }

    .main-nav__item {
        margin-right: 0;
    }
}

.search {
    display: inline-block;
    position: relative;
    width: 167px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.active.search {
    flex-basis: 272px;
    margin-left: 10px;
    box-shadow: -20px 0 4px 0 rgba(255, 255, 255, 0.9);
}

.active.search .search__input {
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

.search__input {
    width: inherit;
    padding-right: 30px;
    line-height: 2.4;
    border-bottom: 2px solid var(--border-color);
}

@media ( min-width: 768px) {
    .search {
        flex-basis: 40px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .page-catalog .search {
        flex-basis: 272px;
        margin-left: 10px;
        box-shadow: -20px 0 4px 0 rgba(255, 255, 255, 0.9);
    }

    .search__input {
        width: 0;
        padding-right: 0;
        border-bottom: 0;
    }

    .page-catalog .search__input {
        width: 100%;
        border-bottom: 2px solid var(--border-color);
    }

    .search__submit {
        padding: 10px 20px;
    }
}

@media ( min-width: 1024px) {
    .page-catalog .search {
        flex-basis: 120px;

    }

    .search__input {
        width: 120px;
        padding-right: 15px;
        line-height: 2;
        border-bottom: 2px solid var(--border-color);
    }
}

.search__submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
}

.search__submit::before {
    content: ' ';
    border: 2px solid #a9a8a8;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 7px;
    width: 12px;
    height: 12px;
}

.search__submit::after {
    content: ' ';
    border-top: 2px solid #a9a8a8;
    position: absolute;
    bottom: 13px;
    right: 9px;
    width: 6px;
    height: 1px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media (min-width: 768px) {
    .start-page .search__submit {
        width: 0;
        padding: 0;
        user-select: none;
    }
}

::-webkit-input-placeholder {
    color: var(--grey-color);
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: var(--global-font-family-secondary);
}

::-moz-placeholder {
    color: var(--grey-color);
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: var(--global-font-family-secondary);
}

/* Firefox 19+ */
:-moz-placeholder {
    color: var(--grey-color);
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: var(--global-font-family-secondary);
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: var(--grey-color);
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: var(--global-font-family-secondary);
}

/*  End header  */

/*  Slider section  */

.slider-section {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*.slider-section:before {*/
/*content: '';*/
/*width: 0;*/
/*min-height: calc(100vh - 70px);*/
/*}*/

.slider {
    width: 100%;
    position: relative;
}

.slider__wrapper {
    display: flex;
    position: relative;
    width: calc(100% * 4);
    height: 476px;
    transition: left 0.9s ease-in-out;
    left: 0;
    will-change: left;
    /*will-change: transform;*/
}

.slider__item {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.slider__item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.upper-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    height: 345px;
    padding: 32px 44px 44px 44px;
    background-color: #ffffff;
    letter-spacing: 1.4px;
    text-align: center;
    color: initial;
    cursor: pointer;
}

.upper-block__sub-title {
    font-family: var(--global-font-family-secondary);
    font-size: 14px;
}

.upper-block__title {
    font-size: 55px;
    font-family: var(--global-font-family-secondary);
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 6.3px;
    text-align: center;
    color: var(--brand-color);
}

.upper-block__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.upper-block__text-line {
    display: inline-block;
    width: 45px;
    height: 3px;
    margin: 0 12px;
    background: var(--brand-color);
}

@media ( min-width: 768px) {

    .upper-block {
        width: 320px;
        height: 436px;
        padding: 40px 60px 50px 60px;
    }

    .upper-block__title {
        font-size: 70px;
    }

    .upper-block__text {
        font-size: 14px;
    }
}


@media ( min-width: 1024px) {
    .upper-block {
        width: 385px;
        height: 525px;
        padding: 50px 60px 60px 60px;
    }

    .upper-block__title {
        font-size: 90px;
    }

    .upper-block__text {
        font-size: 16px;
    }

    .upper-block__text-line {
        width: 62px;
        margin: 0 12px;
    }
}

.slider__arrow-prev,
.slider__arrow-next {
    display: none;
}

.slider__pagination {
    display: flex;
    justify-content: center;
    padding: 24px 20px;
    background-color: var(--global-grey-background);
    border-bottom: 1px solid var(--border-color);
}

@media ( min-width: 768px ) {
    .slider__wrapper {
        height: 754px;
    }

    .slider__pagination {
        padding: 30px 40px;
    }
}

@media ( min-width: 1024px ) {
    .slider__wrapper {

        height: 770px;
    }

    .slider__arrow-prev,
    .slider__arrow-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 35px;
        height: 110px;
        background-color: var(--brand-color);
        border: 2px solid var(--brand-color);
        transition: background-color 0.16s;
        cursor: pointer;
    }

    .slider__arrow-prev:hover,
    .slider__arrow-next:hover {
        background-color: transparent;
    }


    .slider__arrow-prev svg,
    .slider__arrow-next svg {
        position: relative;
        top: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateY(-50%);
    }

    .slider__arrow-prev:hover svg,
    .slider__arrow-next:hover svg {
        fill: var(--brand-color);
    }

    .slider__arrow-next {
        right: 0;
        transform: scaleX(-1) translateY(-50%);
    }

    .slider__arrow-prev {
        left: 0;
    }

    .slider__pagination {
        padding: 38px 60px;
    }
}

.slider__pagination a {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #d2d2d2;
    cursor: pointer;
}

.slider__pagination a.active,
.slider__pagination a:hover {
    background-color: var(--brand-color);
}

.slider__link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

/*  Arrivals-section  */

.arrivals-section {
    padding-top: 40px;
    padding-bottom: 105px;
}

.arrivals-section__inner {
    padding-right: 20px;
    padding-left: 20px;
}

.arrivals-section__header {
    text-align: center;
    margin-bottom: 28px;
}

@media ( min-width: 768px ) {
    .arrivals-section {
        padding-top: 65px;
        padding-bottom: 138px;
    }

    .arrivals-section__inner {
        padding-right: 40px;
        padding-left: 40px;
    }

    .arrivals-section__header {
        margin-bottom: 50px;
    }
}

@media ( min-width: 1024px ) {
    .arrivals-section {
        padding-top: 98px;
        padding-bottom: 80px;
    }

    .arrivals-section__inner {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 60px;
        padding-left: 60px;
    }

    .arrivals-section__header {
        margin-bottom: 55px;
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.cards---six-item .card:nth-child(n + 3) {
    display: block;
}

.cards---six-item {
    margin-bottom: 20px;
}

.cards---six-item .card:nth-child(n + 7) {
    display: none;
}

.card:nth-child(n + 3) {
    display: none;
}

.card {
    width: calc(50% - 20px);
    max-width: 170px;
    margin: 0 10px 50px 10px;
    text-align: center;
}

.card--overlay {
    cursor: pointer;
}

.card--overlay .label:hover > a {
    color: var(--brand-color);
}

.card__image {
    position: relative;
    height: 223px;
    margin-bottom: 30px;
    background-color: var(--global-grey-background);
    overflow: hidden;
}

.card__overlay,
.card__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.16s;
}

.card__overlay {
    opacity: 1;
}

.card__hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.card__hover-text {
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: var(--brand-color);
}

.card__hover-link,
.card__overlay-link {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.card:hover .card__hover {
    opacity: 1;
}

.card:hover .card__title {
    color: var(--brand-color);
}

.card__overlay {
    opacity: 1;
}

.card__overlay-header {
    margin-bottom: 4px;
    font-family: var(--global-font-family-secondary);
    font-size: 20px;
    font-weight: bold;
}

.card__overlay-sub-header {
    font-family: 'TimesNewRomanPSMT';
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__title {
    margin-bottom: 8px;
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1.67;
    transition: color 0.16s;
}

.card__price {
    display: inline-block;
}

.card__price--old {
    color: #757575;
}

.label,
.label a {
    font-family: 'TimesNewRomanPSMT';
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: #757575;
    text-decoration: none;
    transition: 0.16s;
}

@media ( min-width: 768px ) {
    .cards {
        margin-right: -20px;
        margin-left: -20px;
        margin-bottom: 56px;
    }

    .card:nth-child(n + 3) {
        display: block;
    }

    .card:nth-child(n + 4) {
        display: none;
    }

    .card {
        width: calc(100% / 3 - 40px);
        min-width: 180px;
        max-width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .card__image {
        height: 290px;
        margin-bottom: 40px;
    }

    .card__title {
        margin-bottom: 12px;
    }

    .cards---six-item {
        margin-bottom: 0;
    }

    .cards---six-item .card {
        margin-bottom: 90px;
    }

    .cards---six-item .card:nth-child(n + 6) {
        display: block;
    }
}


@media ( min-width: 1024px ) {
    .cards {
        margin-right: -37px;
        margin-left: -37px;
        margin-bottom: 68px;
    }

    .card:nth-child(n + 4) {
        display: block;
    }

    .card {
        width: calc(100% / 4 - 74px);
        min-width: 200px;
        margin-right: 37px;
        margin-left: 37px;
        margin-bottom: 30px;
    }

    .card__image {
        height: 340px;
        margin-bottom: 44px;
    }

    .card__title {
        margin-right: auto;
        margin-left: auto;
    }

    .page-catalog .cards {
        margin-bottom: 44px;
    }

    .page-catalog .cards---six-item {
        margin-bottom: 0;
    }

    .cards---six-item .card:nth-child(n + 9) {
        display: none;
    }
}

/*  End arrivals-section  */

/*  Footer  */

.page-footer {
    border-top: 1px solid var(--border-color);
}

.page-footer__left {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 36px;
    border-bottom: 1px solid var(--border-color);
}

.page-footer__right {
    display: flex;
    padding-top: 20px;
    padding-bottom: 45px;
}

.page-footer__right .box__header {
    margin-bottom: 14px;
}

.page-footer__bottom {
    padding-right: 20px;
    padding-left: 20px;
}

.page-footer a {
    text-decoration: none;
    color: inherit;
    transition: color 0.16s;
}

@media ( min-width: 768px ) {
    .page-footer {
        display: flex;
        flex-direction: column;
    }

    .page-footer__top {
        display: flex;
        flex-wrap: wrap;
        padding: 46px 20px 70px 20px;
    }

    .page-footer__left {
        padding: 0;
        flex-basis: 59%;
        border-bottom: none;
    }

    .page-footer__right {
        flex-direction: column;
        align-self: flex-start;
        padding-top: 0;
        padding-left: 28px;
        border-bottom: none;
    }

    .page-footer__right .box {
        padding-bottom: 40px;
    }
}

.text-box {
    font-family: 'TimesNewRomanPSMT';
    font-size: 16px;
    font-style: italic;
    line-height: 1.88;
    color: #757575;
}

.text-box--small {
    font-size: 13px;
    line-height: 2.4;
}

@media ( min-width: 1024px ) {
    .page-footer {
        display: block;
    }

    .page-footer__top {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 40px;
    }

    .page-footer__left {
        justify-content: flex-start;
        flex-basis: 50%;
        padding-top: 55px;
        padding-bottom: 80px;
        border-right: 1px solid var(--border-color);
    }

    .page-footer__right {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
        padding-top: 55px;
        padding-bottom: 80px;
        padding-left: 60px;
    }

    .page-footer__right .box {
        padding: 0;
    }

    .page-footer__right .box {

        padding-bottom: 70px;
    }

    .page-footer__right .text-box {
        max-width: 300px;
    }

    .text-box--small {
        font-size: 16px;
    }
}

.box {
    flex-basis: 50%;
    padding: 0 20px;
}

.box a:hover {
    text-decoration: underline;
}

.box__header {
    margin-bottom: 36px;
}

@media ( min-width: 768px ) {
    .box {
        min-width: 200px;
    }

    .box__header {
        margin-bottom: 42px;
    }
}

@media ( min-width: 768px ) {
    .page-footer__left .box {
        flex-basis: 44%;
    }

    .box.tablet-mobile-hidden {
        padding-bottom: 40px;
    }
}

.item-list li {
    margin-bottom: 22px;
}

.item-list li a {
    padding: 10px 0;
}

@media ( min-width: 768px ) {
    .item-list li {
        margin-bottom: 24px;
    }
}

.tweet-us {
    position: relative;
    padding-left: 25px;
}

.tweet-us:before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 14px;
    height: 100%;
    background: url("../img/general/twitter.svg") no-repeat center;
}

.list-nav {
    display: inline-flex;
    flex-wrap: wrap;
}

.list-nav li {
    padding: 10px 0;
}

.list-nav li:hover {
    color: var(--brand-color);
}

.list-nav li:not(:last-child) {
    margin-right: 12px;
}

.list-nav li > a {
    font-size: 10px;
    font-weight: bold;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
}

.social-list__item {
    width: 20px;
    height: 20px;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-lis__link {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.social-lis__link svg {
    width: 100%;
    height: 100%;
}

.social-list__item:hover svg {
    fill: var(--brand-color);
}

@media ( min-width: 768px ) {
    .list-nav li > a {
        font-size: 12px;
    }
}

.page-footer__center {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid var(--border-color);
}

.page-footer__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 24px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.page-footer__social {
    display: flex;
    align-items: center;
}

.share-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.share-link__title {
    padding-right: 10px;
}

.share-link__quantity {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-family: var(--global-font-family);
    font-size: 10px;
    background-color: #f4f4f4;
}

.share-link__quantity:before {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    top: 5px;
    width: 0;
    height: 0;
    border-right: 7px solid #f4f4f4;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

@media ( min-width: 768px ) {
    .tablet-hidden {
        display: none;
    }

    .page-footer__center {
        align-self: flex-start;
        display: inline-flex;
        flex-grow: 1;
        padding: 0;
        border: none;
    }

    .page-footer__bottom {
        align-self: flex-start;
        display: inline-flex;
        flex-grow: 1;
        padding: 10px 0;
        font-size: 12px;
    }

    .page-footer__holder {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 25px 40px;
    }

    .share-link {
        margin: 0 8vw;
    }
}

@media ( min-width: 1024px ) {
    .page-footer__holder {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 60px;
        padding-left: 60px;
    }

    .page-footer__center {
        justify-content: flex-end;
    }

    .list-nav li:not(:last-child) {
        margin-right: 35px;
    }
}

.tablet-mobile-hidden {
    display: none;
}

@media ( min-width: 1024px ) {
    .tablet-mobile-hidden {
        display: block;
        min-width: 100%;

    }
}

/*  End footer  */

/*  Catalog page  */

.page-header__extra {
    position: relative;
    top: 1px;
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
}

.page-header__extra-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.page-header__extra-inner.show-filter-list {
    justify-content: space-between;
}

.mob-filter-list {
    display: flex;
    width: 85%;
    font-family: var(--global-font-family-secondary);
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.16s;
}

.show-filter-list .mob-filter-list {
    opacity: 0;
}

.mob-filter-list__item {
    padding: 16px 0;
}

.filter-list {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 121px;
    padding: 32px 20px 20px 20px;
    background: #ffffff;
    overflow-y: auto;
}

.show-filter-list .filter-list {
    display: flex;
    flex-wrap: wrap;
}

.filter-list__item {
    width: calc(100% / 2);
    margin-bottom: 20px;
}

.filter-list__item.select a {
    color: var(--brand-color);
}

.filter-list__item a {
    display: inline-block;
    padding: 10px 0;
    font-family: var(--global-font-family);
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    line-height: 1.2;
}

.sub-filters__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 8px 8px 30px;
    font-family: var(--global-font-family-secondary);
    font-size: 14px;
    color: var(--grey-color);
    cursor: pointer;
    line-height: 1.2;
    transition: 0.16s;
}

.sub-filters__item::before {
    position: absolute;
    content: '';
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey-color);
    transition: 0.16s;
}

.sub-filters__item:hover,
.sub-filters__item.selected {
    color: var(--brand-color);
}

.sub-filters__item:hover::before,
.sub-filters__item.selected:before {
    background-color: var(--brand-color);
}

.sub-filters {
    display: none;
}

.show-filter-list .sub-filters {
    display: block;
}

.sub-filters__item.disabled {
    color: #000000;
}

.sub-filters__item.disabled:before {
    background-color: #000000;
}

.filter-list__item.chosen .sub-filters__item.disabled {
    color: var(--grey-color);
}

.filter-list__item.chosen .sub-filters__item.disabled:before {
    background-color: var(--grey-color);
}

@media ( min-width: 768px ) {
    .page-header__extra {
        border-top: 1px solid var(--border-color);
    }

    .page-header__extra-inner {
        justify-content: flex-start;
        padding: 0 40px;
    }

    .mob-filter-list {
        width: auto;
    }

    .show-filter-list .mob-filter-list {
        opacity: 1;
    }

    .mob-filter-list__item {
        padding: 22px 0;
    }

    .filter-list {
        top: 187px;
        padding: 36px 40px;
    }

    .filter-list__item {
        width: calc(100% / 3);
    }
}

@media ( min-width: 1024px ) {
    .page-header__extra-inner {
        max-width: 1300px;
        margin: 0 auto;
        padding-left: 60px;
        padding-right: 60px;
    }

    .mob-filter-list {
        display: none;
    }

    .filter-button {
        display: none;
    }

    .filter-list {
        position: relative;
        top: initial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0;

        overflow-y: initial;
    }

    .filter-list__item {
        position: relative;
        width: auto;
        padding: 0 20px;
        margin: 0;
        display: flex;
        flex-basis: calc(100% / 6);
        align-items: center;
        height: 65px;
        border-right: solid 1px transparent;
        border-left: solid 1px transparent;
        cursor: pointer;
    }

    .filter-list__item::after {
        content: '';
        position: absolute;
        display: block;
        right: 10px;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 3px solid #000000;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        transform: translateY(-50%);
    }

    .sub-filters__item:before {
        display: none;
    }

    .filter-list__item:hover {
        border-right: solid 1px var(--border-color);
        border-left: solid 1px var(--border-color);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .filter-list__item:hover .sub-filters {
        opacity: 1;
        visibility: visible;
    }

    .filter-list__item a {
        font-family: var(--global-font-family-secondary);
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
    }

    .sub-filters {
        display: block !important;
        position: absolute;
        top: 65px;
        right: -1px;
        left: -1px;
        padding: 6px 0;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px var(--border-color);
        background-color: #ffffff;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }

    .sub-filters__item {
        padding: 6px 20px;
        font-family: var(--global-font-family-secondary);
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.16s;
    }

    .sub-filters__item:hover {
        color: var(--brand-color);
        background-color: var(--global-grey-background);
    }
}

.filter-button {
    flex-shrink: 0;
    position: relative;
    right: -20px;
    width: 55px;
    box-shadow: -50px 0 22px 0 rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.filter-button:before {
    content: '';
    position: absolute;
    display: block;
    right: 20px;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 3px solid #000000;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transform: translateY(-50%);
}

.show-filter-list .filter-button:before {
    width: 100%;
    height: 100%;
    right: 0;
    border-top: none;
    background: url("../img/general/close.svg") no-repeat center;
    background-size: 16px;
}

@media (min-width: 768px) {
    .filter-button {
        box-shadow: none;
    }
}

/*  Product section  */

.product-section {
    padding-top: 20px;
    padding-bottom: 100px;
}

.product-section__inner {
    padding-right: 20px;
    padding-left: 20px;
}

.product-section__button {
    text-align: center;
}

.header-box {
    margin-bottom: 8px;
    font-family: var(--global-font-family-secondary);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 1.8;
}

.header-box--big {
    font-size: 20px;
    margin-bottom: 16px;
}

.text-highlight {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--brand-color)
}

@media ( min-width: 768px ) {
    .header-box {
        max-width: 86%;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        letter-spacing: 0.6px;
        line-height: 1.7;
        letter-spacing: 0.6px;
    }

    .product-section {
        padding-top: 40px;
        padding-bottom: 134px;
    }

    .product-section__inner {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media ( min-width: 1024px ) {
    .product-section {
        padding-top: 62px;
        padding-bottom: 156px;
    }

    .product-section__inner {
        padding-right: 60px;
        padding-left: 60px;
    }

    .header-box {
        max-width: 100%;
        font-size: 24px;
        letter-spacing: 1.2px;
    }
}

.text-holder {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 62px;
    text-align: center;
}

@media ( min-width: 768px ) {
    .text-holder {
        padding-bottom: 90px;
    }
}

@media ( min-width: 1024px ) {
    .text-holder {
        padding-bottom: 84px;
    }
}

/*  Item page  */

.sub-header {
    padding: 20px 0;
}

.sub-header__link {
    position: relative;
    font-family: var(--global-font-family-secondary);
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    line-height: 1.2;
}

.page-item .sub-header__link {
    padding-left: 10px;
}

.page-item .sub-header__link:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 10px;
    height: 100%;
    background: url("../img/general/arrow-left.svg") no-repeat center;
}

.item-section {
    padding-top: 14px;
    padding-bottom: 100px;
}

.item-section__inner {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

/*  Style for gallery item  */

.gallery {
    height: 296px;
    margin-bottom: 40px;
}

.slide {
    height: 100%;
    overflow: hidden;
}

.slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gallery__top {
    position: relative;
    height: 75%;
}

.gallery__top .slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.gallery__top .selected {
    z-index: 10;
}

.gallery__thumbs {
    display: flex;
    height: 25%;
    width: 100%;
    overflow: hidden;
}

.gallery__thumbs .slide {
    position: relative;
    width: calc(100% / 3);
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;
}

.gallery__thumbs .slide.selected::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

@media ( min-width: 768px ) and ( max-width: 1023px ) {
    .gallery {
        display: flex;
        height: 344px;
        margin-bottom: 16px;
    }

    .gallery__top {
        width: 70%;
        height: 100%;
    }

    .gallery__thumbs {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
    }

    .gallery__thumbs .slide {
        width: 100%;
        height: calc(100% / 3);
        user-select: none;
    }
}

@media ( min-width: 1024px ) {
    .gallery {
        flex-basis: 50%;
        height: 524px;
    }
}

/*  Slide end  */

.price-box {
    font-size: 18px;
    margin-bottom: 14px;
}

.item-options {
    margin-top: 26px;
    text-align: start;
}

.item-options__row {
    margin-bottom: 28px;
}

.item-options__row span {
    display: inline-block;
    width: 54px;
}

.item-options .button--secondary:not(:last-child) {
    margin-right: 18px;
}

.item-section__button {
    margin-top: 48px;
}

@media ( min-width: 768px ) {
    .item-section {
        padding-top: 30px;
        padding-bottom: 144px;
    }

    .item-section__inner {
        padding-right: 40px;
        padding-left: 40px;
    }

    .sub-header {
        padding: 22px 0;
    }

    .sub-header__link {
        font-size: 16px;
        font-weight: bold;
    }

    .page-item .sub-header__link {
        padding: 10px 29px;
    }

    .item-options {
        margin-top: 22px;
        text-align: center;
    }

    .item-section .text-box {
        width: 62%;
        margin: 0 auto;
    }

    .item-options__row span {
        font-size: 12px;
    }

    .item-section__button {
        margin-top: 90px;
    }

    .item-section__button .button {
        padding: 20px 72px;
    }
}

@media ( min-width: 1024px ) {
    .item-section {
        padding-top: 60px;
    }

    .item-section__inner {
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        padding-right: 60px;
        padding-left: 60px;
        text-align: initial;
    }

    .item-section__content {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding: 20px 0 20px 50px;
    }

    .item-section .header-box {
        order: 1;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .item-section .text-box {
        order: 2;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 42px;
        line-height: 1.9;
    }

    .item-section .price-box {
        order: 3;
    }

    .item-options {
        order: 4;
        margin-top: 28px;
        text-align: initial;
    }

    .item-section__button {
        order: 5;
        margin-top: 30px;
        text-align: center;
    }

    .item-section__button .button {
        padding: 20px 100px;
        font-weight: 600;
    }

    .item-section .text-box {
        width: 100%;
    }

    .price-box {
        font-size: 25px;
    }

    .item-options__row {
        margin-bottom: 18px;
    }

    .item-options__row span {
        width: 72px;
    }

    .item-options .button--secondary:not(:last-child) {
        margin-right: 30px;
    }
}

/*  Shopping-bag page  */

.cards-container {
    padding: 16px 0 10px 0;
}

.cards-container__inner {
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1300px;
}

.card--second {
    display: flex;
    width: 100%;
    max-width: initial;
    margin: 0 0 42px 0;
}

.card--second .card__image {
    margin-bottom: 0;
}

.card__desc {
    text-align: left;
    padding-top: 10px;
    padding-left: 22px;
}

.card--second .card__title {
    max-width: 100px;
    margin-bottom: 6px;
    padding: 0;
    text-align: left;
}

.card--second .card__price {
    margin-bottom: 26px;
    font-size: 14px;
    font-weight: bold;
}

.card--second .button-delete {
    padding: 10px 0;
    font-size: 11px;
    font-weight: bold;
    color: var(--brand-color);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: 0.16s;
}

.button-delete:hover {
    border-bottom: 1px solid var(--brand-color);
}

.card--second .card__content {
    margin-bottom: 14px;
    font-size: 10px;
    line-height: 2;
}

.page-bag .sub-header__link {
    padding: 10px 16px;
    font-size: 18px;
}

.page-bag .sub-header {
    padding: 16px 0;
}

.page-bag .card:nth-child(n + 3) {
    display: flex;
}

.notification-section {
    padding: 12px 0;
    font-family: var(--global-font-family-secondary);
    font-size: 10px;
    font-weight: bold;
    background-color: var(--global-grey-background);
    text-align: center;
    box-shadow: inset 0 1px 0 0 var(--border-color);
    /*box-shadow: inset 0 1px 0 0 #e5e5e5;*/
}

.notification-section__inner {
    padding: 0 20px;
    line-height: 1.6;
}

.row-container {
    padding: 20px 0 32px 0;
}

.row-container__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.buy-button {
    padding: 20px 28px;
}

.total-cost {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.4;
}

.empty-bag {
    flex-basis: 25%;
    padding: 10px 0;
    text-align: left;
    font-size: 10px;
    transition: 0.16s;
    cursor: pointer;
}

.empty-bag:hover {
    color: var(--brand-color);
}

.empty-bag.disabled,
.empty-bag.disabled:hover {
    color: black;
    opacity: 0.6;
    cursor: initial;
}

.total-cost__heading {
    font-size: 10px;
}

.total-cost__sum {
    font-size: 14px;
    font-weight: bold;
}

@media ( min-width: 768px ) {
    .page-bag .sub-header {
        padding: 20px 0;
    }

    .page-bag .sub-header__link {
        padding: 10px 28px;
        font-size: 20px;
    }

    .cards-container {
        padding: 30px 0 10px 0;
    }

    .cards-container__inner {
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .card--second {
        width: 50%;
        margin: 0 0 96px 0;
    }

    .card--second .card__image {
        width: 145px;
        height: 205px;
    }

    .card--second .card__price {
        margin-bottom: 8px;
    }

    .card--second .button-delete {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .card--second .card__content {
        font-size: 12px;
    }

    .notification-section__inner {
        padding: 0 40px;
        letter-spacing: 0.6px;
        font-size: 11px;
    }

    .buy-button {
        padding: 24px 86px;
    }

    .row-container {
        padding: 30px 0 58px 0;
    }

    .row-container__inner {
        padding: 0 40px;
    }

    .empty-bag {
        font-size: 13px;
        font-weight: bold;
    }

    .total-cost {
        line-height: 1.5;
    }

    .total-cost__heading {
        font-size: 12px;
    }

    .total-cost__sum {
        font-size: 16px;
    }

    .card--second .card__content {
        margin-bottom: 0;
    }
}

@media ( min-width: 1024px ) {
    .cards-container__inner {
        padding: 0 60px;
    }

    .notification-section {
        padding: 14px 0;
    }

    .notification-section__inner {
        padding: 0 60px;
    }

    .row-container__inner {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 60px;
    }

    .card--second .card__image {
        width: 240px;
        height: 340px;
    }

    .card--second .card__title {
        max-width: 200px;
        margin-bottom: 10px;
    }

    .card--second .card__price {
        margin-bottom: 30px;
        font-size: 17px;
    }

    .card--second .card__content {
        margin-bottom: 18px;
    }

    .empty-bag {
        padding-left: 48px;
    }

    .total-cost {
        padding-right: 16px;
    }

    .buy-button {
        padding: 24px 116px;
    }
}

/*  Banner section  */

.banner-section {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.banner-section__left {
    width: 100%;
}

.banner-section__right {
    display: none;
}

.banner-wrapper {
    position: relative;
    height: 238px;
    overflow: hidden;
}

.banner-wrapper__link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.banner-wrapper img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.banner-content {
    position: absolute;
    text-align: center;
    letter-spacing: 0.7px;
}

.banner-section__left .banner-content {
    top: 26px;
    right: 54px;
}

.banner-content__header {
    font-family: var(--global-font-family-secondary);
    font-size: 22px;
    font-weight: bold;
    line-height: 1.9;
}

@media ( min-width: 768px ) {
    .banner-wrapper {
        height: 250px;
    }

    .banner-section__left {
        width: 67%;
        flex-shrink: 0;
    }

    .banner-section__right {
        flex-grow: 1;
        display: block;
    }

    .banner-section__right .banner-wrapper:nth-child(2) {
        display: none;
    }

    .banner-section__left .banner-content {
        right: 80px;
    }

    .banner-section__right .banner-content {
        bottom: 30px;
        right: 50%;
        width: 100%;
        transform: translateX(50%);
    }

    .banner-content {
        z-index: 10;
    }

    .banner-content__header {
        font-size: 22px;
    }

    .banner-section__right .banner-wrapper:first-child:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media ( min-width: 1024px ) {
    .banner-wrapper {
        height: 385px;
    }

    .banner-section__left {
        width: 50%;
    }

    .banner-section__right {
        display: flex;
    }

    .banner-section__right .banner-wrapper:nth-child(2) {
        display: block;
    }

    .start-page .banner-section__right .banner-wrapper:nth-child(2) img {
        object-position: 0 0;
    }

    .banner-section__right .banner-wrapper {
        width: 50%;
        flex-grow: 1;
    }

    .start-page .banner-section__right .banner-wrapper:nth-child(1) {
        display: none;
    }

    .banner-section__left .banner-content {
        right: 100px;
        top: 50px;
    }

    .start-page .banner-section__right .banner-content {
        right: 30%;
        top: 50px;
    }

    .banner-content__header {
        font-size: 28px;
        letter-spacing: 0.8px;
    }

    .banner-section__right .banner-content {
        top: auto;
        bottom: 50px;
        right: 50%;
        transform: translateX(50%);
    }
}

/*  End banner-section  */

.inverse-color {
    color: #ffffff;
}

.brand-color {
    color: var(--brand-color);
}

.no-scroll {
    overflow-y: hidden;
}

.notification-bag {
    width: 70%;
    margin: 0 auto;
    padding: 10vh 0 10vh 0;
    text-align: center;
    font-size: 28px;
}

.cover {
    object-fit: cover !important;
}

.bg-grey {
    background-color: var(--border-color);
}